.back {
	
    position: absolute;
}
body{
	background-image: url("../img/back.jpg");
    background-repeat: no-repeat;

	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway',Arial,sans-serif;
}